{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block title %}Crime Detect{% endblock %}

{% block content %}
    <div class="container">
        <div class="row p-2 justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="{% static 'images/crimeDetect_icon.png' %}" alt="App Icon" class="img-fluid" style="max-height: 10vh;">
                <h1 class="ml-4 mt-3">Crime Detect</h1>
            </div>
            <div class="row ml-auto mr-5">
                <p class="mt-3 mr-3">Hi, {{ user.username }}</p>
                <button id="logoutButton" class="btn btn-primary">Logout</button>
            </div>
        </div>
        <div class="">
            {% leaflet_map "yourmap" %}
        </div>

        <div class="container">
            <div class="row p-2">
                <h2 class="ml-2 mb-3">Most Recent Crimes:</h2>
            </div>
            <div class="row p-2 justify-content-center">
                <div id="crimeCarousel" class="carousel slide w-75" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="row">
                            {% for location in recent_locations %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="col-md-4 mx-auto">
                                        <div class="col-lg-12 col-md-12 col-sm-6  card" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ location.comment }}</h5>
                                                <p class="card-text">{{ location.log_date|date:'F j, Y H:i' }}</p>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#locationModal{{ location.id }}" data-latitude="{{ location.coordinates.y }}" data-longitude="{{ location.coordinates.x }}">
                                                    Show on Map
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#crimeCarousel" role="button" data-slide="prev" id="prevBtn">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#crimeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="row p-2 justify-content-center align-items-center">
            <p>Created By: Joshua AL Rasbi</p>
        </div>
    </div>

    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locationModalLabel">Add Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="crimeType">Select Crime Type:</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="robbery" value="Robbery">
                        <label class="form-check-label" for="robbery">Robbery</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="assault" value="Assault">
                        <label class="form-check-label" for="assault">Assault</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="burglary" value="Burglary">
                        <label class="form-check-label" for="burglary">Burglary</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="vandalism" value="Vandalism">
                        <label class="form-check-label" for="vandalism">Vandalism</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="drugPossession" value="Drug Possession">
                        <label class="form-check-label" for="drugPossession">Drug Possession</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="theft" value="Theft">
                        <label class="form-check-label" for="theft">Theft</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="kidnapping" value="Kidnapping">
                        <label class="form-check-label" for="kidnapping">Kidnapping</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="fraud" value="Fraud">
                        <label class="form-check-label" for="fraud">Fraud</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="crimeType" id="homicide" value="Homicide">
                        <label class="form-check-label" for="homicide">Homicide</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addLocationBtn">Add Location</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener("map:init", function (e) {
            let map = e.detail.map;

            // Try to get the user's geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    let userLocation = [position.coords.latitude, position.coords.longitude];

                    // Set the view to the user's location
                    map.setView(userLocation, 15);

                    // Display a blue circle representing the accuracy
                    L.circle(userLocation, {
                        color: 'blue',
                        fillColor: 'blue',
                        fillOpacity: 0.5,
                        radius: position.coords.accuracy,  // Use accuracy for the circle's radius
                    }).addTo(map);

                    // Placing pins for existing locations
                    {% for location in locations %}
                        L.marker([{{ location.coordinates.y }}, {{ location.coordinates.x }}])
                            .addTo(map)
                            .bindPopup("{{ location.comment }}<br>{{ location.log_date|date:'F j, Y H:i:s' }}");
                    {% endfor %}

                    // Add pin
                    map.on('click', function (e) {
                        $('#locationModal').modal('show');

                         document.getElementById('addLocationBtn').addEventListener('click', function () {
                            let selectedCrimeType = document.querySelector('input[name="crimeType"]:checked');
                            let userComment = selectedCrimeType ? selectedCrimeType.value : "";

                            if (userComment !== "") {
                                L.marker(e.latlng)
                                    .addTo(map)
                                    .bindPopup(userComment);

                                let latitude = e.latlng.lat;
                                let longitude = e.latlng.lng;

                                fetch("{% url 'api_add_location' %}", {
                                    method: 'POST',
                                    headers: {
                                        'X-CSRFToken': "{{ csrf_token }}",
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({
                                        coordinates: {
                                            type: 'Point',
                                            coordinates: [longitude, latitude],
                                        },
                                        comment: userComment,
                                    }),
                                })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                })
                                .catch(error => console.error(error));

                                // Close the modal
                                $('#locationModal').modal('hide');
                            }
                        });
                    });
                });
            } else {
                console.error("Geolocation is not supported by this browser.");

                // Just show pins if no user location
                {% for location in locations %}
                    L.marker([{{ location.coordinates.y }}, {{ location.coordinates.x }}])
                        .addTo(map)
                        .bindPopup("{{ location.comment }}");
                {% endfor %}
            }

            // Handle "Show on Map" button click
            $('.btn-primary').on('click', function() {
                let latitude = $(this).data('latitude');
                let longitude = $(this).data('longitude');

                // Center the map to the clicked location
                map.setView([latitude, longitude], 15);
            });
        });

        // Add an event listener for the logout button
        document.getElementById('logoutButton').addEventListener('click', function () {
            // Perform a fetch or any other logic to log the user out
            fetch("{% url 'logout' %}", {
                method: 'POST',  // You might need to adjust the method based on your project setup
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                    'Content-Type': 'application/json',
                },
                // Add any data or options required for your logout process
            })
            .then(response => {
                // Redirect to the login page after logout
                window.location.href = "{% url 'login' %}";
            })
            .catch(error => console.error(error));
        });
    </script>
{% endblock %}
